
<table>
    <tr>
        <th>Course Name</th>
        <th>Age</th>
        <th>Actions</th>
        <th>Actions1</th>
        <th>Actions2</th>
    </tr>
    <tr>
        <td>{{name}}</td>
        <td>{{code}}</td>
        <td>
            <p [class]="MyClassName">Devfinity</p>
        </td>
        <td>
            <p [class]="MyClassName">Devfinity1</p>
        </td>
        <td>
            <input
                [type]="datetime"
                [value]="name"
                [maxLength]="maxlenght"
                [minLength]="minChar"
                [(ngModel)]="name"
            />
        </td>
    </tr>
</table>

<br />
<hr />
<table>
    <thead>
        <tr>
            <th>Click here to alert</th>
        </tr>
        <tr>
            <th>Mj</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                <button (click)="showWelcomeMessage()">Click here</button>
            </td>
        </tr>
        <tr>
            <td>
                <button (click)="changeCourserName()">Change Course</button>
            </td>
            <td>
                <select (change)="onProvinceChange()">
                    <option value="">Province 1</option>
                    <option value="">Province 2</option>
                    <option value="">Province 4</option>
                    <option value="">Province 5</option>
                    <option value="">Province 6</option>
                    <option value="">Province 7</option>
                </select>
            </td>
        </tr>
    </tbody>
    <tr></tr>
</table>
<br />
<hr />
<h1>ngModel</h1>
