.btn{
    border: 1px solid black;
    padding: 10px;
    margin: 30px;
    border-radius: 5px;
    color: white;
    background-color: purple;
    font-size: 16px;
    font-weight: normal;
}
table{
    margin: 80px auto;
    border: 1px solid  green;
    border-radius: 50px;
    padding: 50px;
    thead{
        background-color: #e95555;
        tr{
            th{
                margin: 0 50px 0px 0 50px;
                
            }
        }
    }
}